:root {
    --primary-color: #171100;
    --fontsize-14: 14px;
    --fontsize-18: 18px;
    --fontsize-16: 16px;
    --desc-color: #5f5b53;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sen", sans-serif;
}

/* comon */
header {
    padding: 36px 0 65px;
}

.content {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    color: #fff;
    text-align: center;
    font-size: var(--fontsize-16);
    padding: 11px 41px;
    font-weight: 600;
    background-color: var(--primary-color);
    line-height: 1.75;
    border-radius: 24.5px;
}

/* =============Header================== */

/* =============Navbar================== */

.navbar {
    display: flex;
    align-items: center;

    padding: 10px;
}

header {
    background: #fffcf4;
}

.navbar .list {
    margin-left: auto;
}

.navbar .btn {
    margin-left: 49px;
}

.navbar .btn:hover {
    background-color: rgba(0, 0, 0, 0.86);
}

.navbar .list .item {
    display: inline-block;
}

.navbar .title {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
}

.navbar .item a {
    display: block;
    font-size: var(--fontsize-16);
    color: #5f5b53;
    padding: 0 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.navbar .item.active a {
    color: var(--primary-color);
    text-align: center;

    font-size: 1.6rem;

    font-weight: 600;
    line-height: 1.75;
    position: relative;
}

.navbar .item.active a::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--primary-color);
    left: 22px;
    bottom: -3px;
    border-radius: 1px;
}

header .body {
    margin-top: 64px;
    display: flex;
    flex: 1;
}

header .body .img-main {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

header .body .img-body,
header .body .info {
    flex: 1;
}

header .body .img-body {
    position: relative;
}

header .body .info {
    padding: 64px 0 0 130px;
}

header .info > .title {
    min-width: 470px;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.16px;
    color: var(--primary-color);
}

header .info > .desc {
    min-width: 470px;
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

header .info .action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

header .action .btn-action {
    min-width: 180px;
    padding: 17px 34px;
    color: #fff;
    border-radius: 32px;
    background: #ffb900;
}

header .action .play {
    margin-left: 28px;
    display: inline-block;

    object-fit: cover;
}

.action-content {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.action-content .play {
    width: 40px;
    height: 40px;
}
header .modal-ui {
    border-radius: 12px;
    background: #fff;
    width: 270px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

header .modal-ui .ui-item {
    display: flex;
}

header .modal-ui {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
}

.modal-ui .ui-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #fff9e8;
}

.modal-ui .ui-item:nth-child(2) .ui-icon {
    background-color: #fcefff;
}

.modal-ui .ui-item:nth-child(3) .ui-icon {
    background-color: #ebeaff;
}

.modal-ui .ui-icon img {
    margin: 0 auto;
}

.modal-ui .ui-info {
    margin-left: 16px;
}

.modal-ui .ui-item + .ui-item {
    margin-top: 22px;
}

.ui-info .label:first-child {
    color: var(----desc-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.info .action-content {
    display: flex;
    align-items: center;
}

.info .action-content .watch {
    width: 40px;
    height: 40px;
}

.info .action-content img {
    margin-top: 4px;
    width: 100%;
    height: 100%;
}

.info .action-content .desc {
    color: #171100;

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.info .desc-two {
    margin-top: 48px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.info .desc-three {
    margin-top: 8px;
    color: var(--desc-color);

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.info .desc-three strong {
    color: var(--primary-color);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
}

strong + strong {
    margin-left: 28px;
}

.popular {
    padding: 200px 0;
}

.popular .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info .title {
    color: var(--primary-color);

    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3; /* 126.316% */
    letter-spacing: -0.76px;
}

.popular .info .desc {
    margin-top: 16px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    gap: 30px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.popular .control-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.popular .course-item .thumb-course {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
    height: 278px;
    object-fit: cover;
}

.popular .info {
    padding: 16px 22px 22px;
}

.popular .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .head .title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7;
}

.popular .course-list .desc {
    color: var(----desc-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
}

.rating .star {
    height: 18px;
}

.popular .rating .value {
    margin-left: 4px;
    color: #fea31b;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}

.popular .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .btn-course {
    font-size: 1.4rem;

    min-width: 118px;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn.active {
    background: #ffb900;
}

.profile {
    padding: 96px 0;
    background: #2e2100;
    height: 380px;
}

.profile .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.profile .container {
    display: flex;
    justify-content: space-between;
}

.profile .right {
    width: 740px;
}

.profile .info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
}

.profile .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.profile .info .circle-contain {
    margin-top: 28px;
}

.profile .right .desc {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
}

.profile .right .icon-post {
    transform: translateX(-100%);
}

/* features */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    min-height: 438px;
    justify-content: space-between;
}

.features .images {
    display: flex;
}

.features .images img {
    border-radius: 16px;
    width: 270px;
    height: 404px;
    object-fit: cover;
}

.features .images img:first-child {
    margin-top: auto;
}

.features .images img + img {
    margin-left: 30px;
}

.features .info {
    width: 41%;
    padding: 58px 0;
}

.features .info .title {
    color: var(--primary-color);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.76px;
}

.features .info .desc {
    margin-top: 16px;
    color: var(--desc-color);
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8; /* 175% */
}

.features .info .btn-sign {
    display: inline-block;
    margin-top: 32px;
    min-width: 137px;
    background: #ffb900;
}

.features2 .images img {
    width: 470px;
    height: 440px;
    margin-top: 0 !important;
}

.features2 .body .info {
    width: 50%;
}

.features2 .body .info {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog .blog-top .title {
    color: var(--primary-color);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3; /* 126.316% */
    letter-spacing: -0.76px;
}

.blog .blog-top .desc {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    width: 448px;
    text-align: center;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog .item {
    flex: 1;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .info .date {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    position: relative;
    margin-left: 9px;
}

.blog .info .date::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ffb900;
    border-radius: 50%;
    top: 50%;
    transform: translate(-150%, -50%);
}

.blog .info .date::after {
    position: absolute;
    content: "";
    width: 160px;
    height: 1px;
    background-color: #e2dfda;
    left: -9px;
    top: calc(100% + 12px);
}

.blog .info .title {
    margin-top: 24px;
}

.blog .info .title a {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8;
}

.blog .info .btn {
    margin-top: 12px;
    display: inline-block;
}

.blog .dot {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.footer {
    padding: 96px 0 28px;
    background: #2e2100;
}

.footer .footer-top {
    display: flex;
    gap: 130px;
}

.footer .footer-top .footer-item {
    flex: 1;
}

.footer .footer-top .title {
    color: var(--white-color);
}

.footer .footer-top .lesson .title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
}

.footer .footer-top .lesson .desc {
    margin-top: 18px;
}

.footer .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
}

.footer .footer-item:not(:first-child) .title {
    font-size: 1.6rem;
    position: relative;
    font-weight: 600;
    line-height: 1.8;
}

.footer .footer-item:not(:first-child) .title::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 1px;
    background-color: #59554b;
    left: 0;
    top: 100%;
}

.footer .footer-top .list-info {
    margin-top: 28px;
}

.footer .list-info .item a,
.footer .list-info .item {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.footer .list-info .item + .item {
    margin-top: 12px;
}

.footer .list-info .item strong {
    color: #fff;
    font-weight: 600;
}

.footer-top {
    position: relative;
}

.footer-top::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #59554b;
    left: 0;
    top: calc(100% + 38px);
}

.footer .footer-end {
    margin-top: 67px;
}

.footer .footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
}
